body {
  padding: 2rem;
  grid-template-columns: 300px 1fr;
  gap: 1rem;
  max-width: 800px;
  margin: 0 auto;
  background-color: blueviolet;
}

img {
  width: 300px;
  height: auto;
}

.card {
    display: flex;
}
